<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>
<body>
    
    <div id = "app">

        <h3>String manipulation</h3>
        <p>
            <input type="text" v-model.lazy="word" placeholder="Indtast et ord">
            <button v-on:click="addWord()" class="btn btn-primary">getInputText</button>
        </p>
        <h2> ordliste </h2>
        <ul v-for="word in words">
            <li>{{word.original}}</li>
            <li>{{word.lower}}</li>
            <li>{{word.upper}}</li>
            <li>{{word.capitalized}}</li>
            <li>{{word.endcapitalized}}</li>
            <li>{{word.join}}</li>
        </ul>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Indtastet ord</th>
                    <!--
                    <th scope="col">lower</th>
                    <th scope="col">upper</th>
                    <th scope="col">cap</th>
                    <th scope="col">endcap</th>
                    <th scope="col">reversed</th>
                    -->
                </tr>
            </thead>
            <tbody>
                    <!--<tr v-for="word1 in words">
                        <td>{{word1.original}}</td>
                        <td>{{word1.lower}}</td>
                        <td>{{word1.upper}}</td>
                        <td>{{word1.capitalized}}</td>
                        <td>{{word1.endcapitalized}}</td>
                        <td>{{word1.join}}</td>
                    </tr>-->

                    <tr v-for="word2 in words">
                        <td>{{word2.original}}</td>
                    </tr>
                    <tr v-for="word2 in words">
                        <td>{{word2.lower}}</td>
                    </tr>
                    <tr v-for="word2 in words">
                        <td>{{word2.upper}}</td>
                    </tr>
                    <tr v-for="word2 in words">
                        <td>{{word2.capitalized}}</td>
                    </tr>
                    <tr v-for="word2 in words">
                        <td>{{word2.endcapitalized}}</td>
                    </tr>
                    <tr v-for="word2 in words">
                        <td>{{word2.join}}</td>
                    </tr>
            </tbody>
        </table>
    </div>
    <script src="js/index.js"></script>
</body>
</html>